<template>
  <div class="content">
    <form @submit.prevent="post()" class="form">
      <div class="input">
        <label>Emnenavn</label>
        <input type="text" v-model="name" />
      </div>
      <div class="input">
        <label>Emnekode</label>
        <input type="text" v-model="code" />
      </div>
      <div class="input">
        <label>År</label>
        <input type="number" v-model="year" />
      </div>
      <div class="input">
        <label>Kommentar</label>
        <input type="text" v-model="description" />
      </div>
      <button type="submit" :disabled="!completed">Legg til</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "AddCourseForm",
  data() {
    return {
      name: "",
      code: "",
      description: "",
      year: new Date().getFullYear(),
    };
  },
  methods: {
    post() {
      this.$emit("post", this.course);
    },
  },
  computed: {
    completed() {
      return this.name && this.code && this.year;
    },
    course() {
      return {
        name: this.name,
        code: this.code,
        description: this.description,
        year: this.year,
      };
    },
  },
};
</script>

<style scoped>
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.input {
  display: flex;
  flex-flow: column;
  text-align: left;
  margin: 10px;
}
</style>
