<template>
  <div id="subject-container">
    <button
      id="toggle"
      v-bind:class="{ active: this.active, nActive: !this.active }"
      @click="active = !active"
    ></button>
    <BasicCourseComponent
      id="header"
      :name="name"
      :code="code"
    ></BasicCourseComponent>
    <div v-show="active">
      <div>
        <div class="op">
          <div class="box">
            <h5>Studenter</h5>
            <button @click="upload('addStudents')" :disabled="!parsed">
              Last opp studenter
            </button>
            <button @click="$emit('showStudents', this.id)">Vis alle</button>
          </div>
          <div class="box">
            <h5>Student assistenter</h5>
            <button @click="upload('addStudas')" :disabled="!parsed">
              Last opp assistenter
            </button>
            <button @click="$emit('showStudas', this.id)">Vis alle</button>
          </div>
          <div class="box">
            <h5>Emne</h5>
            <button
              v-bind:class="{ showEx: showExercise, notShowEx: !showExercise }"
              @click="showExercise = !showExercise"
              id="exercisesBtn"
            ></button>
            <button @click="$emit('delete', this.id)">Slett emne</button>
          </div>
        </div>
        <input
          class="file"
          type="file"
          id="file"
          accept=".csv"
          @change="handleFileUpload($event)"
        />
        <div class="exercises">
          <div v-show="showExercise" class="addExercise">
            <h3>Øvinger</h3>
            <label>Navn på øving</label>
            <input v-model="exerciseName" />
            <button
              :disabled="!this.exerciseName"
              @click="
                $emit('addExercise', { id: this.id, name: this.exerciseName })
              "
            >
              Legg til
            </button>
          </div>
          <div v-show="showExercise">
            <div class="exercise" v-for="exercise in exercises" :key="exercise">
              {{ exercise.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BasicCourseComponent from "@/components/BasicCourseComponent";
import Papa from "papaparse";
import { api } from "@/utils/apiUtil";

export default {
  name: "AdminCourseComponent",
  components: { BasicCourseComponent },
  methods: {
    upload(emit) {
      if (this.parsed) {
        this.$emit(emit, {
          id: this.id,
          content: this.content.data,
        });
      }
    },

    handleFileUpload(event) {
      this.file = event.target.files[0];
      this.parseFile();
    },
    parseFile() {
      Papa.parse(this.file, {
        header: true,
        // delimiter: ", ",
        beforeFirstChunk: function (chunk) {
          var headings = "email,lastname,firstname\r\n";
          return headings + chunk;
          // var rows = chunk.split(/\r\n|\r|\n/);
          // rows.unshift(headings);
          // return rows.join("\r\n");
        },
        skipEmptyLines: true,
        complete: function (results) {
          this.content = results;
          this.parsed = true;
        }.bind(this),
      });
    },
  },
  created() {
    api.get("/courses/" + this.id + "/exercises").then((data) => {
      this.exercises = data;
    });
  },
  data() {
    return {
      showExercise: false,
      exercises: [],
      active: false,
      file: "",
      content: [],
      parsed: false,
      exerciseName: "",
    };
  },
  props: {
    id: {
      required: true,
      type: Number,
    },
    name: {
      required: true,
      type: String,
    },
    code: {
      required: true,
      type: String,
    },
  },
};
</script>
<style scoped>
.showEx:before {
  content: "Skjul øvinger";
}
.notShowEx:before {
  content: "Vis øvinger";
}
.exercise {
  font-size: 40px;
}
.exercises {
  text-align: left;
  margin: 40px 10px 10px;
}
.addExercise {
  display: flex;
  flex-flow: column;
  text-align: left;
}
.addExercise input {
  width: 200px;
}
.addExercise button {
}

#toggle {
  right: 0;
  float: right;
  width: min-content;
  height: min-content;
  border: hidden;
  text-align: center;
  background: papayawhip;
}
#toggle:hover {
  background: lightblue;
}

.active:before {
  content: "-";
}

.nActive:before {
  content: "+";
}

#header {
  text-align: center;
}

.file {
  cursor: pointer;
  width: min-content;
}
.op {
  display: flex;
  justify-content: center;
  text-align: center;
}
.box {
  margin: 3px;
  size: auto;
  display: flex;
  flex-flow: column;
  width: max-content;
  align-items: center;
  text-align: center;
  /*border-left: #888888 solid 1px;*/
  /*border-right: #888888 solid 1px;*/
  border-radius: 10px;
}
p {
  width: fit-content;
}

#subject-container {
  width: auto;
  padding: 20px 0px;
  border-radius: 4px;
  border: solid gray 2px;
  margin: 5px;
}
button {
  background-color: white;
  border: 3px solid aqua;
  border-radius: 3px;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 10px;
  width: fit-content;
}
button:hover {
  background-color: aqua;
}
button:disabled {
  background-color: azure;
  opacity: 40%;
  cursor: default;
}
@media only screen and (max-width: 600px) {
  button {
    padding: 10px;
  }
  h1 {
    font-size: 16px;
  }
  #subject-container {
  }
}
</style>
