<template>
  <div id="container">
    <h1>{{ name }}</h1>
    <h2>{{ code }}</h2>
  </div>
</template>

<script>
export default {
  name: "BasicCourseComponent",

  props: {
    name: {
      required: true,
      type: String,
    },
    code: {
      required: true,
      type: String,
    },
  },
};
</script>
<style scoped>
#subject-container {
  width: 100%;
  padding: 20px 0px;
}
button {
  background-color: white;
  border: 3px solid aqua;
  border-radius: 3px;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 10px;
}
button:hover {
  background-color: aqua;
}
@media only screen and (max-width: 600px) {
  button {
    padding: 10px;
  }
  h1 {
    font-size: 16px;
  }
  #subject-container {
  }
}
</style>
