<template>
  <div class="content">
    <p class="id">{{ id }}</p>
    <div class="header">
      <h1>{{ firstname }} {{ lastname }}</h1>
      <a id="email" :href="'mailto: ' + email">{{ email }}</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "BasicUserComponent",
  props: {
    id: {
      required: true,
      type: Number,
    },
    firstname: {
      required: true,
      type: String,
    },
    lastname: {
      required: true,
      type: String,
    },
    email: {
      required: true,
      type: String,
    },
  },
};
</script>

<style scoped>
.content {
  width: max-content;
  padding: 4px;
}
h1 {
  font-size: 23px;
}

#email {
  color: cornflowerblue;
  text-decoration: none;
}

.header {
  text-align: left;
}

.id {
  width: 13px;
  max-width: 13px;
  text-align: left;
  top: 0;
}
</style>
