<template>
  <div class="courses">
    <div class="top">
      <h1>Courses</h1>
    </div>
    <ToggleBar
      :toggles="toggles"
      @clicked="(value) => (this.toggle = value)"
    ></ToggleBar>

    <div id="toggleContainer">
      <CourseComponent
        :v-if="studentCourses.length"
        v-show="toggle === this.toggles[0]"
        v-for="course in studentCourses"
        :key="course"
        :id="course.id"
        :name="course.name"
        :code="course.code"
        :is-student="true"
      ></CourseComponent>
      <CourseComponent
        :v-if="studAsCourses.length"
        v-show="toggle === this.toggles[1]"
        v-for="course in studAsCourses"
        :key="course"
        :id="course.id"
        :name="course.name"
        :code="course.code"
        :is-student="false"
      ></CourseComponent>
    </div>
  </div>
</template>

<script>
import CourseComponent from "@/components/CourseComponent";
import ToggleBar from "@/components/ToggleBar";
import { api } from "@/utils/apiUtil";

export default {
  name: "CourseContainer",
  components: {
    CourseComponent,
    ToggleBar,
  },
  data() {
    return {
      toggle: "Student",
      toggles: ["Student", "Stud.ass."],
      studentCourses: [],
      studAsCourses: [],
    };
  },

  created() {
    let id = this.$store.state.user.id;
    api
      .get("/students/" + id + "/courses")
      .then((response) => {
        this.studentCourses = response;
      })
      .catch((e) => {
        console.log("There was an error getting courses for student: " + e);
      });
    api
      .get("/studas/" + id + "/courses")
      .then((response) => {
        this.studAsCourses = response;
      })
      .catch((e) => {
        console.log("There was an error getting courses for studas: " + e);
      });
    // api.get("/archived/" + id + "/courses").then((data) => {
    //   this.studAsCourses = data; // probably won't work either, but keep it!
    // });
  },
};
</script>

<style scoped>
.toggle-container {
  width: 100%;
}
.courses {
  width: 100%;
}
.top {
  background-color: rgb(1, 87, 155);
  padding: 25px;
}
@media only screen and (max-width: 600px) {
  .courses {
    width: auto;
  }
}
</style>
