<template>
  <div id="subject-container">
    <BasicCourseComponent :name="name" :code="code"></BasicCourseComponent>
    <button v-if="this.isStudent" @click="sendToExercises()">Øvinger</button>
    <button v-if="!this.isStudent" @click="sendToStudents()">Studenter</button>
    <button @click="sendToQueue()">Til kø</button>
  </div>
</template>

<script>
import BasicCourseComponent from "@/components/BasicCourseComponent";
export default {
  name: "CourseComponent",
  components: { BasicCourseComponent },
  methods: {
    sendToQueue() {
      this.$router.push("/courses/" + this.id + "/queue");
    },
    sendToExercises() {
      this.$router.push("/courses/" + this.id + "/exercises");
    },
    sendToStudents() {
      this.$router.push("/courses/" + this.id + "/students");
    },
  },
  props: {
    id: {
      required: true,
      type: Number,
    },
    name: {
      required: true,
      type: String,
    },
    code: {
      required: true,
      type: String,
    },
    isStudent: {
      type: Boolean,
      required: true,
      default: true,
    },
  },
};
</script>
<style scoped>
#subject-container {
  width: 100%;
  padding: 20px 0px;
  border-radius: 4px;
  border: solid gray 2px;
}
button {
  background-color: white;
  border: 3px solid aqua;
  border-radius: 3px;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 10px;
}
button:hover {
  background-color: aqua;
}
@media only screen and (max-width: 600px) {
  button {
    padding: 10px;
  }
  h1 {
    font-size: 16px;
  }
  #subject-container {
  }
}
</style>
