<template>
  <div class="exercise width">
    <button v-if="!status && student" @click="approve()">GODKJEN</button>
    <button v-if="status && student" @click="notApprove()">Ikke godkjen</button>
    <div class="container width">
      <h1>{{ name }}</h1>
    </div>
    <div class="container width">
      <div
        class="box container"
        v-bind:class="{ done: this.status, undone: !this.status }"
      >
        <i class="icon" v-if="status === true">✓</i>
        <i class="icon" v-if="status === false">✖</i>
      </div>
    </div>
  </div>
</template>

<script>
import { api } from "@/utils/apiUtil";

export default {
  name: "ExerciseComponent",
  methods: {
    approve() {
      api
        .post("/students/" + this.student + "/exercises/" + this.id)
        .then((data) => {
          this.$emit("add", data);
        });
    },
    notApprove() {
      api
        .delete_("/students/" + this.student + "/exercises/" + this.id)
        .then((data) => {
          this.$emit("remove", data);
        });
    },
  },
  props: {
    status: {
      type: Boolean,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    id: {
      type: Number,
      required: true,
    },
    student: {
      type: Number,
      required: false,
    },
  },
};
</script>

<style scoped>
.exercise {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px dotted black;
}
.done {
  background: green;
}
.undone {
  background: red;
}
.width {
  width: 100%;
}
.container {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 300px;
  height: 75px;
  font-size: 24px;
}
@media only screen and (max-width: 600px) {
  .box {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
  h1 {
    font-size: 16px;
  }
}
</style>
