<template>
    <div class="content">
        <div class="wrapper top">
            <h1>Subjects</h1>
        </div>
        <div class="wrapper bot">
            <h2>Active Subjects</h2>
            <h2>Archived Subjects</h2>
        </div>
        <div class="wrapper">
            <h3>Active Queue</h3>
            <h3>Inactive Queue</h3>
        </div>
        <div class="container">
            <div class="container">
                <CourseComponent/>
            </div>
            <div class="container">
              <CourseComponent/>
            </div>
        </div>
    </div>
</template>

<script>
import CourseComponent from "@/components/CourseComponent.vue";
export default {
  name: "HomeComponent",
  components:{
      CourseComponent: CourseComponent,
  }
};
</script>
<style scoped>
.content{
    width:100%;
    height:100vh;
    display: flex;
    flex-flow: column;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top{
    background-color: rgb(1,87,155);
}
.bot{
    background-color: rgb(3,169,244);
}
</style>