<template>
  <div class="wrapper">
    <div class="content">
      <img class="logo" src="https://qs.stud.iie.ntnu.no/img/Qs.png" alt="" />
      <div class="login">
        <h1>Login</h1>
      </div>
      <div class="flex-container">
        <form class="form">
          <input type="email" v-model="state.email" placeholder="E-mail" />
          <span v-if="v$.email.$error">{{ v$.email.$errors[0].$message }}</span>
          <input
            type="password"
            v-model="state.password"
            placeholder="Password"
          />
          <span v-if="v$.password.$error">{{
            v$.password.$errors[0].$message
          }}</span>
          <button @click.prevent="login()">Login</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import useValidate from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";
import { reactive, computed } from "vue";

export default {
  name: "LoginComponent",
  setup() {
    const state = reactive({
      email: "",
      password: "",
    });

    const rules = computed(() => {
      return {
        email: { required, email },
        password: { required },
      };
    });

    const v$ = useValidate(rules, state);

    return {
      state,
      v$,
    };
  },
  methods: {
    login() {
      this.v$.$validate();
      if (!this.v$.$error) {
        alert("Logging in");
      } else {
        alert("Login failed");
      }
    },
  },
};
</script>
<style scoped>
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 500px;
  width: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 87, 155);
}
.login {
  height: 100px;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
  border-bottom: 2px solid grey;
  transition: width 0.4s ease-in-out;
  padding: 10px;
}
form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
.flex-container {
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 100px;
  height: 50px;
}
.logo {
  height: 75px;
  width: auto;
}
</style>
