<template>
<div class="wrapper">
    <div class="content">
      <img class="logo" src="https://qs.stud.iie.ntnu.no/img/Qs.png" alt="" />
      <div class="login">
        <h1>Login</h1>
      </div>
      <div class="flex-container">
        <form @submit.prevent="submitForm" class="form">
          <input class="text" id="username" v-model="username" type="text" />
          <input class="text" id="password" v-model="password" type="text" />
          <button type="submit" :disabled="!complete">Login</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoginForm",
  emits: ["submitForm"],
  data() {
    return {
      username: "user",
      password: "user",
    };
  },
  computed: {
    complete() {
      return this.username && this.password;
    },
  },
  methods: {
    submitForm() {
      this.$emit("submitForm", {
        username: this.username,
        password: this.password,
      });
    },
  },
};
</script>

<style scoped>
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 500px;
  width: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 87, 155);
}
.login {
  height: 100px;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
  border-bottom: 2px solid grey;
  transition: width 0.4s ease-in-out;
  padding: 10px;
}
form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
.flex-container {
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 100px;
  height: 50px;
}
.logo {
  height: 75px;
  width: auto;
}
</style>
