<template>
  <i class="menu" @click="navbar">☰</i>
  <nav id="navbar" class="none">
    <div class="topnavbar">
      <img class="logo" src="https://qs.stud.iie.ntnu.no/img/Qs.png" alt="" />
      <p>{{ username }}</p>
      <p>{{ name }}</p>
    </div>

    <div class="links">
      <router-link to="/" @click="navbar">Hjem</router-link>
      <router-link to="/settings" @click="navbar">Instillinger</router-link>
      <router-link to="/login" @click="logout">Logg ut</router-link>
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavbarComponent",
  computed: {
    username() {
      return this.$store.state.user.email;
    },
    name() {
      return (
        this.$store.state.user.firstname + " " + this.$store.state.user.lastname
      );
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
    navbar() {
      var navbar = document.getElementById("navbar");
      if (navbar) {
        if (!navbar.classList.contains("none")) {
          navbar.classList.add("none");
        } else {
          navbar.classList.remove("none");
        }
      }
    },
  },
};
</script>

<style scoped>
#navbar {
  width: 15%;
  height: 100vh;
  left: 100%;
  box-shadow: 5px 0px 8px #888888;
}
.logo {
  height: auto;
  width: 70%;
}
.links {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
}
.topnavbar {
  background-color: rgb(1, 87, 155);
  padding: 15px;
}
.closenav {
  display: none;
}
.menu {
  display: none;
  border: 2px aqua solid;
  border-radius: 3px;
}
.menu:active {
  background-color: aqua;
}
.none {
  display: none;
}
@media screen and (max-width: 600px) {
  #navbar {
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  .closenav {
    display: block;
  }
  .menu {
    display: block;
    position: fixed;
    font-size: 32px;
    left: 0%;
    font-style: normal;
    padding: 10px 15px;
  }
}
@media screen and (min-width: 600px) {
  #navbar {
    display: block;
  }
}
</style>
