<template>
  <div class="exercise width">
    <QueueComponent/>
  </div>
</template>

<script>
import QueueComponent from "@/components/QueueComponent";
export default {
  name: "QueueContainer",
  components:{
      QueueComponent
  }
};
</script>

<style scoped>

.width{
    width: 100%;
}
</style>
