<template> 
<div class="top width">
    <h1>Queue</h1>
</div> 
<div class="container selected">
    <div>Person</div>
    <div>Oving 3</div>
</div>
<div class="container">
    <div>Person</div>
    <div>Oving 3</div>
</div>
<div class="container">
    <div>Person</div>
    <div>Oving 3</div>
</div>
<div class="container">
    <div>Person</div>
    <div>Oving 3</div>
</div>
</template>

<script>
export default {
  name: "QueueComponent",
};
</script>

<style scoped>
.exercise {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px dotted black;
}
.done {
  background: green;
}
.undone {
  background: red;
}
.width{
  width:100%;
}
.container{
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box{
  width: 300px;
  height: 75px;
  font-size: 24px;
}
.top {
  background-color: rgb(1, 87, 155);
  padding: 25px;
}
.selected{
    background-color: green;
}
</style>
