<template>
    <div class="content">
        <div class="wrapper top">
            <h1>Settings</h1>
        </div>
        <div class="container height">
            <div class="container box">
                <div class="container width">
                    <div class="container"><h2>{{name}}</h2></div>
                    <div class="container"><h2>{{username}}</h2></div>
                    <div class="container"><h2>{{email}}</h2></div>
                </div>
                <form action="" class="container width">
                    <input type="text" placeholder="Alternative Email">
                    <button><i>✓</i></button>
                </form>
                <form action="" class="container width">
                    <input type="password" placeholder="Current Password">
                    <input type="password" placeholder="New Password">
                    <input type="password" placeholder="Repeat new Password">
                    <button><i>✓</i></button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: "SettingsComp",
  data(){
      return{
          name: '',
          username: '',
          email: '',
      }
  },
  methods:{
      async makeStudent(){
          const api_url= 'http://queues3api.tk:8086/api/students/1';
          await fetch(api_url, {
              method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify({
                    email: "test@test.no",
                    firstName: "test",
                    lastName: "test",
                    password: "test"
                }), // body data type must match "Content-Type" header
            }).then(data => {console.log(data); // JSON data parsed by `data.json()` call
          })
      },
      async getStudent(){
          const api_url= 'http://queues3api.tk:8086/api/students/1';
          const axios = require('axios');
          axios.get(api_url)
          .then((response) => {
              this.name = `${response.data.firstName} ${response.data.lastName}`;
              this.username = response.data.email;
              this.email = response.data.email;
           })
           .catch(err => console.error(err));
      }
  },
  created(){
      this.makeStudent();
      this.getStudent();
  },
};
</script>
<style scoped>
.content{
    width:100%;
    height:100vh;
    display: flex;
    flex-flow: column;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top{
    background-color: rgb(1,87,155);
}
.bot{
    background-color: rgb(3,169,244);
}
.height{
    height: 100%;
}
.width{
    width: 100%;
}
.box{
  height: 500px;
  width: 1000px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(1,87,155);
  padding:15px;
}
button{
    background-color: white;
    border: 3px solid aqua;
    border-radius: 3px;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color: aqua; 
}
input{
    border: none;
    border-bottom: 2px solid aqua; 
    background-color: rgb(1,87,155);
    font-size: 22px;
    padding:3px;
    border-radius: 2px;
}
input:focus{
    background-color: aqua;
}
h2{
    color:black;
}
@media only screen and (max-width: 1000px) {
  .box{
      width:auto;
      height:500px;
  }
  input{
      font-size: 16px;
      margin: 10px;
  }
  .container{
      flex-flow: column;
      justify-content: space-evenly;
  }
  button{
      padding: 5px 15px;
  }
}

</style>
