<template>
  <div class="container">
    <!--    eslint-disable prettier/prettier-->
<!--    eslint-disable-->
    <div class="toggle" v-for="toggle in toggles" :key="toggle">
      <button v-bind:class="{active: toggle === currentToggle}"
              @click="click(toggle)">{{ toggle }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ToggleBar",
  data() {
    return {
      currentToggle: this.toggles[0],
    };
  },
  methods: {
    click(toggle) {
      this.$emit("clicked", toggle);
      this.currentToggle = toggle;
    },
  },
  props: {
    toggles: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(3, 169, 244);
}

button {
  background-color: white;
  border: 3px solid aqua;
  border-radius: 3px;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:hover {
  background-color: aqua;
}

.active {
  background: rgb(1, 87, 155);
}
</style>
