<template>
  <div class="content">
    <NavbarComponent
      class="navbar"
      v-if="!(this.$route.name === 'login')"
    ></NavbarComponent>
    <router-view />
    <!--    <button @click="getStud()"></button>-->
  </div>
</template>

<script>
import NavbarComponent from "@/components/NavbarComponent";

export default {
  components: { NavbarComponent },
  methods: {},
};
</script>

<style>
.content {
  display: flex;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
}
* {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .content {
    flex-flow: column;
    display: block;
  }
  .navbar {
    z-index: 1;
    display: absolute;
  }
}
</style>
