<template>
  <div class="content">
    <div class="content" v-show="!showData">
      <div class="course-container"></div>
      <div class="box">
        <h1>Emner</h1>
        <div class="buttons">
          <button @click="showCourses = true">Vis emner</button>
          <button @click="showCourses = false">Legg til</button>
        </div>
        <AddCourseForm @post="postCourse" v-show="!showCourses"></AddCourseForm>
        <div class="courses">
          <AdminCourseComponent
            v-show="showCourses"
            v-for="course in courses"
            :key="course"
            :id="course.id"
            :name="course.name"
            :code="course.code"
            @delete="deleteCourse"
            @showStudents="showStudents"
            @showStudas="showStudas"
            @addStudents="addStudents"
            @addStudas="addStudas"
            @addExercise="addExercise"
          ></AdminCourseComponent>
        </div>
      </div>
      <div class="box">
        <h1>Brukere</h1>
        <div class="buttons">
          <button @click="showUsers = true">Vis brukere</button>
          <button @click="showUsers = false">Legg til</button>
        </div>
        <div class="users" v-show="showUsers">
          <div class="user" v-for="user in users" :key="user">
            <BasicUserComponent
              :id="user.id"
              :firstname="user.firstname"
              :lastname="user.lastname"
              :email="user.email"
            ></BasicUserComponent>
          </div>
        </div>
        <div v-show="!showUsers">
          <p>Ikke implementert</p>
        </div>
      </div>
    </div>

    <div class="data" v-show="showData">
      <BasicUserComponent
        v-for="user in this.data"
        :key="user"
        :id="user.id"
        :firstname="user.firstname"
        :lastname="user.lastname"
        :email="user.email"
      ></BasicUserComponent>
    </div>
  </div>
</template>

<script>
import { api } from "@/utils/apiUtil";
import AdminCourseComponent from "@/components/AdminCourseComponent";
import AddCourseForm from "@/components/AddCourseForm";
import BasicUserComponent from "@/components/BasicUserComponent";

export default {
  name: "AdminView",
  components: {
    BasicUserComponent,
    AddCourseForm,
    AdminCourseComponent,
  },
  data() {
    return {
      showData: false,
      showCourses: true,
      showExercises: false,
      showUsers: true,
      courses: [],
      users: [],
      data: [],
    };
  },
  methods: {
    deleteCourse(id) {
      let course = this.courses.filter((c) => c.id === id)[0];

      if (
        confirm(
          "Er du sikker på at du vil slette dette emnet?\n" +
            course.code +
            " " +
            course.name +
            " (" +
            course.year +
            ")"
        )
      )
        api.delete_("/courses/" + id).then((data) => {
          this.courses = this.courses.filter((c) => c.id !== data.id);
        });
    },
    postCourse(course) {
      api.postObject("/courses", course).then((data) => {
        this.courses.push(data);
      });
    },
    addExercise(data) {
      api
        .postObject("/courses/" + data.id + "/exercises/", { name: data.name })
        .then(() => {
          this.$forceUpdate();
        });
    },
    showStudents(id) {
      api.get("/courses/" + id + "/students").then((data) => {
        this.data = data;
        this.showData = true;
      });
    },
    showStudas(id) {
      api.get("/courses/" + id + "/studas").then((data) => {
        this.data = data;
        this.showData = true;
      });
    },
    addStudents(upload) {
      // get students
      let students = upload.content;
      // let course = this.courses.filter((c) => c.id === id)[0];

      api
        .postObject("/courses/" + upload.id + "/students/list", students)
        .then((data) => {
          console.log(data);
        });
    },
    addStudas(upload) {
      // get students
      let studas = upload.content;
      // let course = this.courses.filter((c) => c.id === id)[0];

      api
        .postObject("/courses/" + upload.id + "/studas/list", studas)
        .then((data) => {
          console.log(data);
        });
    },
  },
  created() {
    api.get("/courses").then((data) => {
      this.courses = data;
    });
    api.get("/users").then((data) => {
      this.users = data;
    });
  },
};
</script>
<style scoped>
/*.user {*/
/*  display: flex;*/
/*  border: solid 1px;*/
/*}*/

.content {
  display: flex;
  width: 100%;
  margin: 20px;
  /*flex-flow: column;*/
}
.box {
  display: flex;
  flex-flow: column;
  width: 100%;
  /*border-left: #d3d3d3 dashed 1px;*/
  /*border-right: #d3d3d3 dashed 1px;*/
  /*border-radius: 10px;*/
}
button {
  background-color: white;
  border: 3px solid aqua;
  border-radius: 3px;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 100px;
  margin: 10px;
}
button:hover {
  background-color: aqua;
}
.buttons {
  display: flex;
  width: max-content;
  justify-content: left;
}
</style>
