<template>
  <div>
    <div v-for="user in students" :key="user" class="user">
      <BasicUserComponent
        :id="user.id"
        :firstname="user.firstname"
        :lastname="user.lastname"
        :email="user.email"
      ></BasicUserComponent>
      <button @click="sendToExercises(user)">Vis øvinger</button>
    </div>
  </div>
</template>

<script>
import BasicUserComponent from "@/components/BasicUserComponent";
import { api } from "@/utils/apiUtil";
export default {
  name: "CourseStudentsView",
  components: { BasicUserComponent },
  data() {
    return {
      students: [],
      courseId: -1,
    };
  },
  methods: {
    sendToExercises(user) {
      this.$router.push("/courses/" + this.courseId + "/exercises/" + user.id);
    },
  },
  async created() {
    this.courseId = this.$route.params.id;

    await api.get("/courses/" + this.courseId + "/students").then((data) => {
      this.students = data;
    });
  },
};
</script>

<style scoped>
.user {
  margin: 20px;
}
</style>
