<template>
  <div class="content width">
    <div class="exercises">
      <div class="top width"><h1>Øvinger</h1></div>
      <div class="tab width">
        <div><h2>Øving</h2></div>
        <div><h2>Status</h2></div>
      </div>
      <ExerciseComponent
        class="exercise"
        v-for="exercise in allExercises"
        :key="exercise"
        :status="completedExercises.map((e) => e.id).includes(exercise.id)"
        :id="exercise.id"
        :name="exercise.name"
        :student="this.student"
        @add="add"
        @remove="remove"
      ></ExerciseComponent>
    </div>
  </div>
</template>

<script>
import { api } from "@/utils/apiUtil";
import ExerciseComponent from "@/components/ExerciseComponent";

export default {
  name: "ExercisesView",
  components: { ExerciseComponent },
  data() {
    return {
      allExercises: [],
      completedExercises: [],
      student: 0,
    };
  },
  methods: {
    add(exercise) {
      this.completedExercises.push(exercise);
    },
    remove(data) {
      this.completedExercises = this.completedExercises.filter(
        (e) => e.id !== data.id
      );
    },
  },
  async beforeMount() {
    this.student = Number(this.$route.params.studId);

    const studId = this.student ? this.student : this.$store.state.user.id;
    const courseId = this.$route.params.id;

    console.log(this.student);

    await api.get("/courses/" + courseId + "/exercises").then((data) => {
      this.allExercises = data;
    });
    await api
      .get("/students/" + studId + "/courses/" + courseId + "/exercises")
      .then((data) => {
        this.completedExercises = data;
      });
  },
};
</script>

<style scoped>
.content {
  display: flex;
}
.exercises {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.width {
  width: 100%;
}
.top {
  background-color: rgb(1, 87, 155);
  padding: 15px;
}
.tab {
  display: flex;
  justify-content: space-around;
  background-color: rgb(3, 169, 244);
  padding: 10px 0px;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 16px;
  }
}
</style>
