<template>
  <div class="width">
    <CourseContainer></CourseContainer>
    <!--        <HomeComponent></HomeComponent>-->
  </div>
</template>

<script>
import CourseContainer from "@/components/CourseContainer";

export default {
  name: "HomeView",
  components: {
    // HomeComponent,
    CourseContainer,
  },
  computed: {
    username() {
      return this.$store.state.username;
    },
  },
};
</script>
<style scoped>
.home {
  display: flex;
}
.width{
  width:100%;
}
</style>
