<template>
  <div class="login">
    <LoginForm @submitForm="submit"></LoginForm>
  </div>
</template>

<script>
import LoginForm from "@/components/LoginForm";
import { Role } from "@/utils/role";

export default {
  name: "LoginView",
  components: {
    LoginForm,
  },
  computed: {
    username() {
      return this.$store.state.name;
    },
    token() {
      return this.$store.state.token;
    },
    authorities() {
      return this.$store.state.authorities;
    },
  },
  methods: {
    async submit(login) {
      let status = await this.$store.dispatch("login", login);
      if (status === false) console.log("LOGIN FAILED");
      else {
        console.log("Login successful");

        if (this.$store.state.authorities.includes(Role.Admin)) {
          await this.$router.push("/admin");
        } else await this.$router.push("/");
      }
    },
  },
  created() {
    if (this.$store.state.user != null) {
      this.$router.push("/");
    }
  },
};
</script>
