<template>
  <QueueContainer/>
</template>

<script>
import { api } from "@/utils/apiUtil";
import QueueContainer from "@/components/QueueContainer";
export default {
  name: "QueueView",
  components: {QueueContainer},
  data() {
    return {
      students: [
        {
          name: "Andreas Winje",
        },
      ],
    };
  },
  mounted() {
    let id = this.$route.params.id;
    api.get("/subjects/" + id + "/queue").then((data) => {
      console.log(data);
      this.students = data;
    });
  },
};
</script>

<style scoped></style>
