<template>
  <div class="home width">
    <SettingsComponent />
  </div>
</template>

<script>
// @ is an alias to /src
import SettingsComponent from "@/components/SettingsComponent.vue";
export default {
  name: "SettingsView",
  components: {
    SettingsComponent,
  },
};
</script>
<style scoped>
.home {
  display: flex;
}
.width{
  width:100%;
}
</style>
